.App {
    padding: 20px;
    font-size: 16px;
}

.minor-note {
    font-size: 10px;
    line-height: 15px;
    color: gray;
}

input{
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid gray;
    width: 300px;
}

.search {
    position: relative;
    width: 300px;
    box-sizing: border-box;
}

.search * {
    box-sizing: border-box;
}

.autocomplete-options {
    position: absolute;
    top: 33px;
    background: white;
    border: 1px gray solid;
    border-radius: 4px;
}

.autocomplete-option {
    padding: 3px 5px;
    cursor: pointer;
    width: 300px;
    line-height: 20px;
}

.autocomplete-option:hover {
    background: dodgerblue;
}
